<h1>レポート</h1>
<tr>
  <td><%= link_to("ホーム", "http://localhost:3000/home/top") %></td>
  <td><%= link_to("学生", "http://localhost:3000/home/students") %></td>
  <td><%= link_to("会社情報", "http://localhost:3000/home/companies") %></td>
</tr>

<table>
  <tr>
    <th>No</th>
    <th>生徒番号</th>
    <th>種類</th>
    <th>日時</th>
    <th>会社ID</th>
    <th>詳細</th>

</tr>
</table>
