<h1>学生</h1>

<td><%= link_to("ホーム", "http://localhost:3000/home/top") %></td>
<td>　　<%= link_to("学生一覧", "http://localhost:3000/home/students") %></td>
<td>　　<%= link_to("会社情報", "http://localhost:3000/home/companies") %></td>
<td>　　<%= link_to("レポート", "http://localhost:3000/home/reports") %></td>

