<h1>ホーム</h1>
<tr>
  <td><%= link_to("学生", "http://localhost:3000/home/students") %></td>
  <td><%= link_to("会社情報", "http://localhost:3000/home/companies") %></td>
  <td><%= link_to("レポート", "http://localhost:3000/home/reports") %></td>
</tr>