/* top */
.registrartion .container {
    text-align: center;
}
/* top ここまで*/

/* footer */
.footer-top .container div {
    width: 300px;
    height: 250px;
    display: inline-block;
    vertical-align: bottom;
}
/* footer ここまで */
