/* top */
.main-wrapper {
    width: 100%;
    margin: 20px;
    border-radius: 20px;
    background-color: #8AB6D6;
    background-color: #FBE0C4;
}
.registrartion .container {
    text-align: center;
}
/* top ここまで*/
